---
import Layout from "../../layouts/BlogPost.astro"
---

<Layout
  titleTag="Sobre | Eder Christian"
  title="Olá. Eder aqui!"
  description="Lorem ipsum dolor sit amet"
  date={new Date("April 30 2024")}
>
  <p>Eu sou de Lorena, interior de São Paulo.</p>

  <p>
    Sou Técnico em Informática pela ETEC Cachoeira Paulista; graduado em Gestão
    da Tecnologia da Informação pela FATEC Guaratinguetá; e pós-graduado em
    Projetos e Desenvolvimento de Aplicações Web pela UNIFATEA Lorena.
  </p>

  <p>
    Apesar de ter diplomas acadêmicos, eu acredito demais no autodidatismo, que
    é a maneira que mais aprendo na vida. Foi assim que aprendi design, edição
    de vídeos, escrever melhor, investimentos, e um monte de outras habilidades.
  </p>

  <p>
    Sou de uma família simples. Ganhei meu primeiro computador com 19 anos de um
    projeto da Prefeitura de Lorena, projeto esse que tem o objetivo de doar
    computadores para pessoas que não podem comprar — com a condição de que
    devolva o computador assim que consiga ter um, para que, depois, seja
    repassado para outra pessoa. Em 2013 consegui comprar meu primeiro
    computador. De cara, foi um MacBook Air de 11 polegadas. Era usado de uma
    amiga da faculdade, mas estava em ótimas condições. Logo após o primeiro
    uso, fiquei fascinado pela Apple e decidi que queria aprender a programar.
    Foi assim que decidi fazer a pós-graduação, por influência de um professor
    da faculdade, Prof. Dr. Luiz Guarino.
  </p>

  <p>Os anos seguintes a isso foram cheio de oportunidades:</p>

  <ul>
    <li>
      Trabalhei numa pequena agência de marketing com design e criação de sites
      em Wordpress;
    </li>
    <li>
      Larguei tudo e me mudei para São Paulo para trabalhar na Startse, uma
      startup de educação, como Programador Front-end Júnior, para criar landing
      pages;
    </li>
    <li>Pude visitar o Vale do Silício e fazer alguns cursos de negócios;</li>
    <li>
      Ainda nessa startup, pude ajudar também com vendas, marketing, edição de
      vídeos, design, dentre outros;
    </li>
    <li>
      Comecei a trabalhar com tecnologias mais complexas e ajudei a startup a
      criar sua primeira plataforma de eventos online, o que me ajudou a virar
      sócio do negócio;
    </li>
    <li>
      Em seguida, virei líder de uma squad, depois de o time de tecnologia
      crescer muito;
    </li>
    <li>No meio disso tudo, consegui aprender inglês do zero pela internet;</li>
    <li>
      Participei de mais de 60 eventos e tenho a felicidade de dizer que fiz
      vários amigos dentro da comunidade de programadores.
    </li>
  </ul>

  <p>
    Em fevereiro de 2022, comecei a trabalhar na <a
      href="https://automatiq.com/"
      target="_blank"
      rel="noopener noreferrer">Automatiq</a
    >, uma empresa americana com sede em Nova Iorque. A empresa tem uma
    plataforma, um broker, de tickets, onde pessoas e empresas podem criar
    invoices, comprar, vender e revender tickets, através de diversas empresas
    como Ticketmaster, Viagogo, etc.
  </p>

  <p>
    No meio de 2022, criei o site oficial do Padre Fábio de Melo e passei a ser
    o responsável pela área de tecnologia dele. Também o ajudo com as
    plataformas de streaming, como YouTube, Spotify, Apple Music e Deezer.
  </p>

  <p>
    Em março de 2024, lancei <a
      href="https://www.produtividadeai.com.br/"
      target="_blank"
      rel="noopener noreferrer"
      >meu curso sobre produtividade com a ajuda de inteligência artificial</a
    >, ensinando meus métodos para ser produtivo e alguns caminhos que me
    fizeram chegar até aqui.
  </p>

  <p>
    Muito animado com os próximos passos e projetos nesse mundo que não me deixa
    parar de evoluir!
  </p>
</Layout>
