
/*
  DEFAULT
*/
.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}

/*
  MAIN
*/
:root {
  --green-brand: #00d59f;
  --green-brand-rgb: 0, 213, 159;
  --purple-brand: #30284f;
  --purple-brand-rgb: 48, 40, 79;
  --black-primary: #333333;
  --black-secondary: #1a1a1a;
  --white-primary: #ffffff;
  --white-secondary: #fafafa;
  --gray: 96, 115, 159;
  --gray-light: 229, 233, 240;
  --gray-dark: 34, 41, 57;
  --gray-gradient: rgba(var(--gray-light), 50%), #fff;
  --box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
    0 16px 32px rgba(var(--gray), 33%);
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background: var(--white-secondary);
  color: var(--black-secondary);
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 15px;
  line-height: 1.7;
  height: 100vh;
}

main {
  flex: 1;
  width: 720px;
  max-width: calc(100% - 2em);
  margin: auto;
  padding: 3em 1em 1em;
}
/* 
  NAVBAR
*/
header {
  margin: 0;
  padding: 0 1em;
  background: var(--white-secondary);
  box-shadow: 0 2px 8px rgba(var(--black-primary), 5%);
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 720px;
  height: 70px;
  max-width: 100%;
}
nav img {
  width: 20px;
  vertical-align: bottom;
}

/*
  TEXT
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--black-primary);
  line-height: 1.2;
}
h1 {
  font-size: 25px;
}
h2 {
  font-size: 23px;
  margin: 2em 0 0.5em 0;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 19px;
}
h5 {
  font-size: 17em;
}
strong,
b {
  font-weight: 700;
}
a {
  color: var(--green-brand);
}
a:hover {
  color: var(--purple-brand);
}
p, li {
  font-family: 'Merriweather', serif;
  font-weight: 300;
}

/*
  BLOG
*/
.blog-post {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin: 0 0 2em;
}
.title {
  font-family: 'Inter', sans-serif;
  margin: 0;
}
.title--blog {
  font-size: 17px;
  font-weight: 500;
  color: var(--green-brand);
}
.date-blog {
  color: var(--black-secondary);
  font-size: 13px;
  font-weight: 500;
  margin: 0;
}
.container-blog {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.container-blog--gap-small {
  gap: 0.3em;
}
.container-blog--gap-medium {
  gap: 0.5em;
}
.container-blog--gap-large {
  gap: 0.7em;
}
.text-caption {
  font-size: 12px;
  text-align: center;
  margin-top: -2px;
}
blockquote {
  border-left: 4px solid var(--green-brand);
  padding: 0 0 0 20px;
  margin: 0;
}
hr {
  border: none;
  border-top: 1px solid rgb(var(--gray-light));
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/*
  FORM
*/
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
  font-family: 'Merriweather', serif;
}
.container-newsletter {
  margin-bottom: 1.5em;
}

/*
 HOME
*/
.title-newsletter {
  margin-top: 2em;
  padding-top: 2em;
  border-top: 1px solid rgb(var(--gray-light));

}

/*
  CODE
*/
code {
  padding: 2px 5px;
  background-color: rgb(var(--gray-light));
  border-radius: 2px;
  font-family: 'Merriweather', serif;
}
pre {
  padding: 1.5em;
  border-radius: 8px;
}
pre > code {
  all: unset;
}

/*
  MEDIA QUERY
*/
@media (max-width: 720px) {
  main {
    padding: 1em;
  }
}

@media (max-width: 1024px) {
  .dropdown-content {
    right: 0;
  }
}
