/* GENERAL */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700');

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	line-height: 1.6;
	font-weight: 400;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	color: #555;
}

/* GRID */
.container {
	width: 100%;
	max-width: 900px;
	box-sizing: border-box;
}

@media screen and (min-width: 320px) {
	.one.column {
		flex: 0 0 8.33333333%;
		max-width: 8.33333333%;
	}

	.two.columns {
		flex: 0 0 16.66666667%;
		max-width: 16.66666667%;
	}

	.four.columns {
		flex: 0 0 25%;
		max-width: 25%;
	}

	.five.columns {
		flex: 0 0 41.66666667%;
		max-width: 41.66666667%;
	}

	.six.columns {
		flex: 0 0 50%;
		max-width: 50%;
	}

	.seven.columns {
		flex: 0 0 58.33333333%;
		max-width: 58.33333333%;
	}

	.eight.columns {
		flex: 0 0 66.66666667%;
		max-width: 66.66666667%;
	}

	.five.columns {
		flex: 0 0 75%;
		max-width: 75%;
	}

	.ten.columns {
		flex: 0 0 83.33333333%;
		max-width: 83.33333333%;
	}

	.eleven.columns {
		flex: 0 0 91.66666667%;
		max-width: 91.66666667%;
	}

	.twelve.columns {
		flex: 0 0 100%;
		max-width: 100%;
	}
}

/* FONT */
h1,
h2,
h3,
h4,
h5,
h6,
strong {
	color: #666;
	font-weight: 400;
}

h1,
.home h1,
.about h1,
.contact h1 {
	font-size: 2.4rem;
	color: #333;
}

h2,
.home h2,
.about h2,
.contact h2 {
	font-size: 2.2rem;
	font-weight: 300;
}

h3,
.home h3,
.about h3,
.contact h3 {
	font-size: 2rem;
	font-weight: 100;
	text-transform: uppercase;
	line-height: 3rem;
}

h4,
.contact h4 {
	font-size: 1.8rem;
	font-weight: 100;
}

a h4 {
	font-weight: 400;
	color: #076233;
}

a {
	color: #076233;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

h5 {
	font-size: 1.6rem;
}

h6 {
	font-size: 1.4rem;
}

p {
	color: #555;
}

/* HEADER */

#line-top {
	height: 1rem;
	background-color: #076233;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0 auto;
	width: 100%;
}

.top-content {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin-top: -5rem;
	background-color: #fff;
	height: 17rem;
}

#line-header {
	position:relative;
	border-width: .1rem;
	background-color: green;
	margin-top: -1.3rem;
	padding-bottom: .2rem;
	opacity: .2;
}

/* MENU */

.nav.menu {
	position: relative;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
	padding-left: 2.5rem;
    margin-top: 10rem;
}

.nav.link {
	display: inline-block;
	color: #076233;
	text-decoration: none;
	padding: 2.5rem;
	padding-left: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 2rem;
	text-transform: uppercase;
}

.nav.link:visited {
	color: #0a6d37;
}

/* SVG LOGO */

#logo {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	width: 20rem;
	fill: #076233;
	stroke: #076233; 
	stroke-width: 2;
	stroke-miterlimit: 10;
}

#up {
  opacity: 1;
  animation: fade 2s infinite;
}

@keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}

/* CONTAINERS: HOME, ABOUT AND CONTACT */
.container.home,
.container.about,
.container.contact {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: auto;
}

/* IMAGES */
#profile-picture {
	width: 18rem;
	height: 18rem;
	border-radius: .2rem;
	box-shadow: .4rem .5rem .6rem .2rem rgba(0,0,0,0.2);  
}

/* SVG LOGOS */
#github,
#codepen {
	fill: #076233;
	width: 10rem;
	height: 10rem; 
}

#behance {
	fill: #076233;
	width: 7rem;
	height: 7rem; 
}

object {
	width: 2rem;
	height: 2rem;
	padding-left: 1rem;
}

/* FOOTER */
footer {
	height: 6rem;
	background-color: #076233;
}

.footer-logos {
	position: relative;
	display: flex;
  	align-items: center;
  	justify-content: center;
}

.footer-logo-svg {
	fill: #fff;
	width: 5rem;
	height: 5rem;
}

.footer-logo-svg:hover {
	fill: #076233;
	background-color: #fff;
}

.linkedin,
.twitter,
.instagram,
.facebook {
	padding: 0.5rem 1.5rem 0 1.5rem;
}

/* SELECTIONS */
::-moz-selection {
    color: #fff;
    background: #076233;
}

::selection {
    color: #fff; 
    background: #076233;
}

/* MARGINS */
.margin-bottom-portfolio-3 {
	margin-bottom: -3rem;
}

/* PADDINGS */
.padding-top-14 {
	padding-top: 14rem;
}

.padding-top-18 {
	padding-top: 18rem;
}

.padding-top-20 {
	padding-top: 20rem;
}

.padding-top-1 {
	padding-top: 1rem;
}

.padding-bottom-3 {
	padding-bottom: 3rem;
}

.padding-bottom-10 {
	padding-bottom: 10rem;
}

/* ARTICLE */
article,
.disqus {
	margin: 0 4rem 0 4rem;
}

article h1 {
	text-align: center;
}