/* GENERAL */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700');

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	line-height: 1.6;
	font-weight: 400;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	color: #555;
}

/* GRID */
.container {
	width: 100%;
	box-sizing: border-box;
}

@media screen and (max-width: 450px) {
	.about {
		margin-left: 3rem;
		margin-right: 3rem;
	}
}

@media screen and (min-width: 500px) {
	.one.column {
		flex: 0 0 8.33333333%;
		max-width: 8.33333333%;
	}

	.two.columns {
		flex: 0 0 16.66666667%;
		max-width: 16.66666667%;
	}

	.four.columns {
		flex: 0 0 25%;
		max-width: 25%;
	}

	.five.columns {
		flex: 0 0 41.66666667%;
		max-width: 41.66666667%;
	}

	.six.columns {
		flex: 0 0 50%;
		max-width: 50%;
	}

	.seven.columns {
		flex: 0 0 58.33333333%;
		max-width: 58.33333333%;
	}

	.eight.columns {
		flex: 0 0 66.66666667%;
		max-width: 66.66666667%;
	}

	.five.columns {
		flex: 0 0 75%;
		max-width: 75%;
	}

	.ten.columns {
		flex: 0 0 83.33333333%;
		max-width: 83.33333333%;
	}

	.eleven.columns {
		flex: 0 0 91.66666667%;
		max-width: 91.66666667%;
	}

	.twelve.columns {
		flex: 0 0 100%;
		max-width: 100%;
	}
}

/* FONT */
h1,
h2,
h3,
h4,
h5,
h6,
strong {
	color: #666;
	font-weight: 400;
}

h1,
.home h1,
.about h1,
.contact h1 {
	font-size: 2.4rem;
	color: #333;
}

h2,
.home h2,
.about h2,
.contact h2 {
	font-size: 2.2rem;
	font-weight: 300;
}

h3,
.home h3,
.about h3,
.contact h3 {
	font-size: 2rem;
	font-weight: 100;
	text-transform: uppercase;
	line-height: 3rem;
}

h4,
.contact h4 {
	font-size: 1.8rem;
	font-weight: 100;
}

a h4 {
	font-weight: 400;
	color: #285e4e;
}

a {
	color: #285e4e;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

h5 {
	font-size: 1.6rem;
}

h6 {
	font-size: 1.4rem;
}

p {
	color: #555;
}

/* MENU */
nav {
	position: fixed;
	background-color: #fff;
	height: 8rem;
	width: 100%;
	box-shadow: .5rem .5rem 1rem #c9c9c9;
}

.nav.hamburguer {
	position: absolute;
	top: 2.2rem;
	right: 1rem;
	padding: 1rem;
	cursor: pointer;
}

#nav-hamburguer {
	height: 3rem;
}

.nav.logo {
	display: inline-block;
	padding: 0 0 0 2rem;
	margin-top: -5rem;
}

.nav.menu {
	position: fixed;
	display: flex;
    justify-content: flex-start;
	flex-flow: wrap;
	max-height: 0rem;
	overflow: hidden;
	transition: all ease-in-out .3s;
	margin-left: 1rem;
	top: 2.4rem;
}

.nav.link {
	display: inline-block;
	color: #285e4e;
	text-decoration: none;
	padding: 1rem 1.7rem;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1.5rem;
	text-transform: uppercase;	
}

.homepage-link {
	display: inline-block;
	color: #285e4e;
	text-decoration: none;
	padding: .3rem 1.7rem;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 2.5rem;
	text-transform: uppercase;
}

.nav.link:visited {
	color: #3e7c6f;
}

@media screen and (min-width: 800px) {
	.nav.logo {
		padding: 0 0 0 20rem;
	}

	.nav.link {
		padding-left: 3rem;
		font-size: 2rem;
	}

	.nav.menu {
		position: fixed;
		justify-content: flex-end;
		flex-flow: row wrap;
		max-height: 20rem;
		top: 2rem;
		right: 20rem;
	}

	.nav.hamburguer {
		display: none;
	}
}

#line-top {
	height: 1rem;
	background-color: #285e4e;
	position: fixed;
	width: 100%;
}

.nav.menu.opened {
	max-height: 20rem;
	background-color: #fff;
}

/* SVG LOGO */
#logo {
	position: relative;
	width: 21rem;
	fill: #285e4e;
	stroke: #285e4e; 
	stroke-width: 2;
	stroke-miterlimit: 10;
}

#up {
  opacity: 1;
  animation: fade 2s infinite;
}

@keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}

/* CONTAINERS: HOME, ABOUT AND CONTACT */
.container.home,
.container.about,
.container.contact {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: auto;
}

.message {
	background-color: #fdfffa;
	widht: 100%;
	text-align: center;
	padding: 1rem 1rem;
}

.contact {
	background-color: #fdfffa;
}
/* IMAGES */
#profile-picture {
	width: 18rem;
	height: 18rem;
	border-radius: .2rem;
	box-shadow: .4rem .5rem .6rem .2rem rgba(0,0,0,0.2);  
}

/* SVG LOGOS */
.svg {
	text-align: center;
}

.svg-link {
	display: inline-block;
	margin-right: 5rem;
	margin-left: 5rem;
}

@media screen and (max-width: 500px) {
	.svg-link {
		display: block;
		margin-top: 1rem;
	}

	#behance {
		padding-bottom: 3rem;
	}
}

#github,
#codepen {
	fill: #285e4e;
	width: 10rem;
	height: 10rem; 
}

#behance {
	fill: #285e4e;
	width: 7rem;
	height: 7rem;
	margin-bottom: 1.5rem;
}

object {
	width: 2rem;
	height: 2rem;
	padding-left: 1rem;
}

/* FOOTER */
footer {
	height: 6rem;
	background-color: #285e4e;
}

.footer-logos {
	text-align: center;
	padding-top: .3rem;
}

.footer-logo-svg {
	fill: #fff;
	width: 5rem;
	height: 5rem;
}

.footer-logo-svg:hover {
	fill: #285e4e;
	background-color: #fff;
}

.linkedin,
.twitter,
.instagram,
.facebook {
	padding: 0.5rem 1.5rem 0 1.3rem;
}

/* SELECTIONS */
::-moz-selection {
    color: #fff;
    background: #285e4e;
}

::selection {
    color: #fff; 
    background: #285e4e;
}

/* MARGINS */
.margin-bottom-portfolio-3 {
	margin-bottom: -3rem;
}

/* PADDINGS */
.padding-top-5 {
	padding-top: 5rem;
}

.padding-top-10 {
	padding-top: 10rem;
}

.padding-top-14 {
	padding-top: 14rem;
}

.padding-top-18 {
	padding-top: 18rem;
}

.padding-top-20 {
	padding-top: 20rem;
}

.padding-top-1 {
	padding-top: 1rem;
}

.padding-bottom-3 {
	padding-bottom: 3rem;
}

.padding-bottom-10 {
	padding-bottom: 10rem;
}

/* ARTICLE */
article,
.disqus {
	margin: 0 4rem 0 4rem;
}

article h1 {
	text-align: center;
}