/* GENERAL */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700');

html {
	font-size: 62.5%;
}

/* GRID */
.container {
	width: 100%;
	max-width: 900px;
	box-sizing: border-box;
}

@media screen and (min-width: 750px) {
	.one.column {
		flex: 0 0 8.33333333%;
		max-width: 8.33333333%;
	}

	.two.columns {
		flex: 0 0 16.66666667%;
		max-width: 16.66666667%;
	}

	.four.columns {
		flex: 0 0 25%;
		max-width: 25%;
	}

	.five.columns {
		flex: 0 0 41.66666667%;
		max-width: 41.66666667%;
	}

	.six.columns {
		flex: 0 0 50%;
		max-width: 50%;
	}

	.seven.columns {
		flex: 0 0 58.33333333%;
		max-width: 58.33333333%;
	}

	.eight.columns {
		flex: 0 0 66.66666667%;
		max-width: 66.66666667%;
	}

	.five.columns {
		flex: 0 0 75%;
		max-width: 75%;
	}

	.ten.columns {
		flex: 0 0 83.33333333%;
		max-width: 83.33333333%;
	}

	.eleven.columns {
		flex: 0 0 91.66666667%;
		max-width: 91.66666667%;
	}

	.twelve.columns {
		flex: 0 0 100%;
		max-width: 100%;
	}
}

/* FONT */
h1,
h2,
h3,
h4,
h5,
h6,
strong {
	color: #333;
	font-weight: 400;
}

h1,
#home h1 {
	font-size: 2.8rem;
}

h2,
#home h2 {
	font-size: 2.4rem;
	font-weight: 300;
}

h3,
#home h3 {
	font-size: 2.2rem;
	font-weight: 100;
	text-transform: uppercase;
	line-height: 3rem;
}

h4 {
	font-size: 2rem;
}

h5 {
	font-size: 1.6rem;
}

h6 {
	font-size: 1.4rem;
}

p {
	color: #555;
}

/* HEADER */
#line-top {
	height: 1rem;
	background-color: #076233;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0 auto;
	width: 100%;
}

.top-content {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin-top: -5rem;
}

/* MENU */

.nav.menu {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
	padding-left: 2.5rem;
    margin-top: 6.5rem;
}

.nav.link {
	display: inline-block;
	color: #076233;
	text-decoration: none;
	padding: 2.5rem;
	padding-left: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 2rem;
	text-transform: uppercase;
}

.nav.link:visited {
	color: #0a6d37;
}

/* SVG LOGO */

svg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	width: 20rem;
}

#up {
  opacity: 1;
  animation: fade 2s infinite;
}

@keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}

/* HOME */
.container.home {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: auto;
	padding-top: 20rem;
}

/* PADDINGS */
.padding-bottom-3 {
	padding-bottom: 3rem;
}