---
import Layout from "../layouts/BlogPost.astro"
---

<Layout
  titleTag="About | Eder Christian"
  title="Hi, I'm Eder Christian!"
  description="Lorem ipsum dolor sit amet"
  date={new Date("April 30 2024")}
  client:visible
>
  <p>I'm from Lorena, a small city in the State of Sao Paulo, Brazil.</p>

  <p>
    I've been curious about computers since I was a kid. When I was 17, I got a
    certificate in technical computing. Three years later, I went to a public
    college to study Information Technology Management.
  </p>

  <p>
    Up until this point, we didn't even have a computer at home. My first
    computer was an old and simple PC that I got from a City Hall NGO project.
    Three years later, I could finally afford a MacBook Air — it was used but it
    made me fall in love with Apple products and that's when I knew I wanted to
    learn how to code. At first, considered Swift or Objective-C, but after some
    research, I decided to go with web development first and I liked the
    front-end area.
  </p>

  <p>
    In 2015, I got a post-degree certificate in Web Applications Development. I
    would say this is when my career really started, even though I had no
    experience or knowledge about programming.
  </p>

  <p>The following 5 years were full of new opportunities:</p>

  <ul>
    <li>
      I worked at a small marketing agency in my hometown with design and
      WordPress websites;
    </li>
    <li>
      I dropped everything to move to Sao Paulo city to work at StartSe, an
      education startup as a front-end developer with basic landing pages using
      HTML, CSS, JavaScript, and Bootstrap;
    </li>
    <li>
      I visited Silicon Valley and took some business courses with this startup;
    </li>
    <li>
      Still at this startup, I worked with sales, marketing, video editing, and
      design;
    </li>
    <li>
      I started working with React and Next.js, and helped this startup to
      create a platform to broadcast their online events, which helped me to
      become a partner;
    </li>
    <li>I also became a squad leader;</li>
    <li>I learned English from scratch by studying online;</li>
    <li>
      I attended more than 60 tech events and meetups — and made a lot of
      friends from the web development community.
    </li>
  </ul>

  <p>
    In February 2022 I started working at <a
      href="https://automatiq.com/"
      target="_blank"
      rel="noopener noreferrer">Automatiq</a
    >, an American company based in New York. It has an automation platform for
    ticket brokers, where they can do invoicing and pricing, for example, across
    multiple vendors.
  </p>

  <p>
    In mid-2022, I created the official website for Padre Fábio de Melo, one of
    the most popular priests in Brazil, and became responsible for his
    technology area. I also assist him with streaming platforms such as YouTube,
    Spotify, Apple Music, and Deezer.
  </p>

  <p>
    In March 2024, I launched my course (in Portuguese) on productivity with the
    help of artificial intelligence, teaching my methods for being productive
    and some paths that have led me to this point.
  </p>

  <p>Really excited for my next steps in this amazing world!</p>
</Layout>
