---
import { Image } from "astro:assets"
import { Icon } from "astro-icon/components"

import HeaderLink from "./HeaderLink.astro"

import logoEderChristian from "../../public/logo-eder-christian.svg"

const path = Astro.url.pathname
const isPortuguese = path.startsWith("/pt")
const isBlog = path.startsWith("/blog")

type LocalePathMap = {
  [key: string]: string
}

function getLocalizedPath(
  currentPath: string,
  toPortuguese: boolean,
  pathMap: LocalePathMap
): string {
  return toPortuguese
    ? pathMap[currentPath] || "/pt/"
    : pathMap[currentPath] || "/"
}

const pathMap: LocalePathMap = {
  "/": "/pt/",
  "/about": "/pt/sobre",
  "/pt/": "/",
  "/pt/sobre": "/about",
}
---

<header>
  <nav>
    <HeaderLink href={isPortuguese ? "/pt/" : "/"}>
      <Image src={logoEderChristian} alt="Logo Eder Christian" />
    </HeaderLink>

    <div class="nav-links">
      <HeaderLink href="/cv">CV</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href={isPortuguese ? "/pt/sobre" : "/about"}
        >{isPortuguese ? "Sobre" : "About"}</HeaderLink
      >
      {
        !isBlog ? (
          <div class="switch-container">
            <Icon
              name="openmoji:flag-united-states"
              size={28}
              class={`flag flag-us ${!isPortuguese ? "active" : ""}`}
            />
            <a
              href={getLocalizedPath(
                path,
                isPortuguese ? true : false,
                pathMap
              )}
              class="language-switch"
              aria-label={
                isPortuguese ? "Switch to English" : "Mudar para Português"
              }
            >
              <div class="switch">
                <div class={`switch-slider ${isPortuguese ? "active" : ""}`} />
              </div>
            </a>
            <Icon
              name="openmoji:flag-brazil"
              size={30}
              class={`flag flag-br ${isPortuguese ? "active" : ""}`}
            />
          </div>
        ) : null
      }
    </div>
  </nav>
</header>
<style>
  .nav-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;
    min-width: 70px;
  }
  .nav-links a {
    text-decoration: none;
    padding: 1em 0.5em;
    color: var(--white-primary);
    border-bottom: 2px solid transparent;
    text-decoration: none;
  }
  .nav-links--i11n {
    margin-top: 0.4em;
  }

  .switch-container {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }

  .language-switch {
    display: flex;
    align-items: center;
  }

  .flag {
    opacity: 0.5;
    transition: opacity 0.2s ease;
  }

  .flag.active {
    opacity: 1;
  }

  .switch {
    position: relative;
    width: 44px;
    height: 22px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }

  .switch-slider {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 18px;
    height: 18px;
    background-color: var(--green-brand);
    border-radius: 50%;
    transition: transform 0.2s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  .switch-slider.active {
    transform: translateX(20px);
  }
</style>
