---
layout: default
---
<article class="post">

	<header class="post-header">
		<h1 class="post-title">{{ page.title | escape }}</h1>
	</header>

	<div class="post-content">
		{{ content }}
	</div>

	<div class="social-media">
		<!-- Twitter -->
		<h4>Twitter</h4>
		<a class="twitter-follow-button" href="https://twitter.com/ederchristian92" data-size="large">
			Follow @ederchristian92
		</a>
		<a class="twitter-timeline" data-lang="en" data-width="300" data-height="400" data-dnt="true" data-link-color="#285e4e" href="https://twitter.com/ederchristian92">Tweets by ederchristian92</a>
	</div>

</article>