---
layout: default
---

<div class="post-header">
	<h1 class="post-title">{{ page.title | escape }}</h1>
</div>

<div class="talks-content">
	<ul class="talk-list">
		<li>
			<h2>
				<a class="post-link" href="https://www.youtube.com/watch?v=Tv2x_8RIhXY" target="_blank">Como aprender programação sem se perder no mar de conteúdo disponível? (Online)</a>
			</h2>
			<span class="post-meta">Sep 19, 2018</span>
		</li>
		<li>
			<h2>
				<a class="post-link" href="https://www.youtube.com/watch?v=qVWyOMMRvsU" target="_blank">Encarando as vagas de TI sem mimimi (Online)</a>
			</h2>
			<span class="post-meta">May 10, 2018</span>
		</li>
	</ul>
</div>