---
import BaseHead from "../components/BaseHead.astro"
import Footer from "../components/Footer.astro"
import Header from "../components/Header.astro"

interface Props {
  titleTag?: string
  title: string
  description: string
  image?: string
  noIndex?: boolean
}

const { titleTag, title, description, image, noIndex } = Astro.props
---

<html lang="en">
  <head>
    <BaseHead
      title={titleTag ?? `${title} | Eder Christian`}
      description={description}
      image={image}
      noIndex={noIndex}
    />
  </head>
  <body>
    <Header />
    <main transition:animate="fade">
      <slot />
    </main>
    <Footer />
  </body>
</html>
